<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company_name.ui_kit_01___tech_marketplace__page_1__10_apr_2022_025849">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
